

<nb-layout>
    <nb-layout-header *ngIf="menuScreens.indexOf(router.url) >= 0">
         <img src="../assets/hourglass.png" style="height: 100%;">
      
        <span style="text-align: right; display: inline-block; width: 100%;">
            <!--Insert Top menu items here-->
            
        </span>
    </nb-layout-header>

    <nb-sidebar *ngIf="menuScreens.indexOf(router.url) >= 0">
        <nb-menu [items]="menu">Menu</nb-menu>
    </nb-sidebar>
    
    <nb-layout-column fixed>
        <router-outlet></router-outlet>
    </nb-layout-column>
    
</nb-layout>

