<nb-card>
    <nb-card-body>
        <table>
            <tr>
                <th>Project</th>
                <th *ngFor="let d of dates">{{ d.toDateString().split(' ').splice(0,3).join(' ') }}</th>
            </tr>
            <tr>
                <input type="text" name="">
                <input type="time" step="3600000" name="" id="" min="0">
                <input type="number" name="" id="" min="0">
                <input type="number" name="" id="" min="0">
                <input type="number" name="" id="" min="0">
                <input type="number" name="" id="" min="0">
                <input type="number" name="" id="" min="0">
                <input type="number" name="" id="" min="0">
            </tr>
        </table>
    </nb-card-body>
</nb-card>

